@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../components/assets/svgs/BackgroundCirclePatternSVG.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
